#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.circle {
  border-radius: 50%;
  border: 1px solid #1a1a1a;
  width: 50px;
  padding: 15px 0;
  display: inline-block;
  margin: 20px;
}
